<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artist's Songs</title>
</head>
<body>

<h1 th:text="${artist}">Artist...</h1>

<div th:each="song: ${songs}">
    <div>
        <header>
            <h1 th:text="'Title: '+${song.getTitle()}">Song title</h1>
        </header>
        <section>
            <h2 th:text="'Genre: '+${song.getGenre()}">Genre</h2>
            <h2 th:text="'Release Year: '+${song.getReleaseYear()}">Year</h2>
            <h2 th:text="'Album: '+${song.getAlbum().getName()}"></h2>
            <h2>Performers:</h2>
            <ul th:each="artist: ${song.getPerformers()}">
                <li th:text="${artist}">Artist...</li>
            </ul>
        </section>
    </div>
</div>

</body>
</html>