<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Songs Homepage - Welcome to My Music Store</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to My Music Store</h1>
</header>
<main>
    <h2>Choose a song:</h2>
    <!-- Display radio buttons for each song,
            the value should be the trackId
            and the displayed text should be Title: <songTitle>, Genre:<genre>, Release Year: <releaseYear> -->
    <form action="/artists" method="get">
        <div th:each="song : ${allSongs}">
            <input type="radio"
                   name="trackId"

                   th:value="${song.getTrackId()}"
                   th:text="'Title: ' + ${song.getTitle()} + ', Genre: ' + ${song.getGenre()}  + ', Release Year: ' + ${song.getReleaseYear()} + ', Album: ' + ${song.getAlbum().getName()}"
            >
            <a th:href="@{'/songs/edit-form/{id}' (id=${song.getId()})}">Edit</a>
            <a th:href="@{'/songs/delete/{songId}' (songId=${song.getId()})}">Delete</a>

        </div>
        <input type='submit' value='Submit'>

    </form>
    <a href="/songs/add-form">Add new Song</a>

    <div th:if="${error != null}" th:text="'Error Orrcured: ' + ${error}">

    </div>

</main>
</body>
</html>