<!DOCTYPE html>
<html>
<head>
    <title>Add/Edit Song</title>
</head>
<body>
<h1>Edit Song</h1>
<form th:action="@{/songs/edit}" method="post">
    <input type="hidden" th:value="${song.id}" name="songId"/>
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" th:value="${song.title}"/>
    <br/>
    <label for="genre">Genre:</label>
    <input type="text" id="genre" name="genre" th:value="${song.genre}"/>
    <br/>
    <label for="releaseYear">Release Year:</label>
    <input type="number" id="releaseYear" name="releaseYear" th:value="${song.releaseYear}"/>
    <br/>
    <label for="trackId">Track ID:</label>
    <input type="text" id="trackId" name="trackId" th:value="${song.trackId}"/>
    <br/>
    <label for="album">Album:</label>
    <select id="album" name="albumId">
        <option th:each="album : ${albums}" th:value="${album.id}" th:text="${album.name}"></option>
    </select>
    <br/>
    <button type="submit">Save</button>
</form>
</body>
</html>
