<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Album List</title>
</head>
<body>
<h1>Albums</h1>
<a href="/albums/add-form">Add New Album</a>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Release Year</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="album : ${albums}">
        <tr>
            <td th:text="${album.name}"></td>
            <td th:text="${album.genre}"></td>
            <td th:text="${album.releaseYear}"></td>
            <td>
                <a th:href="@{/albums/edit/{albumId}(albumId=${album.id})}">Edit</a> |
                <form th:action="@{/albums/delete/{albumId}(albumId=${album.id})}" method="post" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>
